# rootfs
type op1_file, file_type;
type op2_file, file_type;

# sysfs
type sysfs_fastcharge, sysfs_type, fs_type;
type sysfs_sound_control, sysfs_type, fs_type;
type vendor_sysfs_msm_perf, sysfs_type, fs_type;
